<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="email=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    	<title>[简历]张大侠-前端开发工程师/杭州</title>
    	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/index.css">
        <link rel="stylesheet" href="assets/css/timeline.css">
        <script src="https://cn.vuejs.org/js/vue.js" ></script>
    </head>
    <body>        
        <header class="header"></header>
        
        <div class="container" id="app">
            <div class="row">
                <div class="col-xs-12 col-md-4" style="padding:2px;">
                    <div class="side">
                        <!-- 个人肖像 -->
                        <section class="me">
                            <section class="portrait">
                                <!-- 头像照片 -->
                                <img class="avatar" src="assets/images/avatar.jpg">
                            </section>

                            <p class="name">{{ basic.name }}<br />{{ basic.position }} / {{ basic.location }}</p>

                        </section>
                        
                        <!-- 基本信息 -->
                        <section class="profile info-unit">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <i class="fa fa-user fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">基本信息</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 fn-detail">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-male"></i></span>
                                            <span class="fn-item">{{ basic.name }} / {{ basic.sex }} / {{ basic.age }}</span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-graduation-cap"></i></span>
                                            <span class="fn-item">{{ basic.lastest_edu }}</span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-phone"></i></span>
                                            <span class="fn-item"><a :href="'tel:' + basic.tel" target="_blank">{{ basic.tel }}</a></span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-envelope"></i></span>
                                            <span class="fn-item"><a v-bind:href="'mailto:' + basic.email" target="_blank">{{ basic.email }}</a></span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-map-marker"></i></span>
                                            <span class="fn-item">{{ basic.location }}</span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-briefcase"></i></span>
                                            <span class="fn-item">{{ basic.exp }}</span>
                                        </li>
                                        <li>
                                            <span class="fn-icon"><i class="fa fa-usd"></i></span>
                                            <span class="fn-item">{{ basic.salary }}</span>
                                        </li>
                                        <li v-if="basic.blog">
                                            <span class="fn-icon"><i class="fa fa-bold"></i></span>
                                            <span class="fn-item"><a :href="basic.blog" target="_blank">{{ basic.blog }}</a></span>
                                        </li>
                                        <li v-if="basic.github">
                                            <span class="fn-icon"><i class="fa fa-github"></i></span>
                                            <span class="fn-item"><a :href="basic.github" target="_blank">{{ basic.github }}</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                            
                        <!-- 基本信息 -->
                        <section class="profile info-unit" v-if="skills.length > 0">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1 ">
                                    <i class="fa fa-file-code-o fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">技能点</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-1 fn-detail">
                                    <ul class="list-unstyled">
                                        <li v-for="skill in skills">
                                            <span class="fn-name">{{ skill.name }}</span>
                                            <div class="progress">
                                                <div class="progress-bar" 
                                                    :class="{'progress-bar-success': skill.progress>=80, 'progress-bar-info': skill.progress<80 && skill.progress>=60, 'progress-bar-warning':skill.progress<60 && skill.progress>=40}" 
                                                    role="progressbar" :aria-valuenow="skill.progress" aria-valuemin="0" aria-valuemax="100" :style="'width: '+skill.progress+'%'">
                                                    {{ skill.progress }}%
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8" style="padding:2px;">
                    <div class="main" id="edu" name="edu" v-if="edus.length > 0">
                        <section class="profile info-unit">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <i class="fa fa-graduation-cap fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">教育经历</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 fn-detail">
                                    <ul class="timeline">
                                        <li v-for="edu in edus">
                                            <div class="time">{{ edu.period }}</div>
                                            <div class="version"></div>
                                            <div class="number"></div>
                                            <div class="content">
                                                <div class="timeline-title">{{ edu.name }}</div>
                                                <div class="timeline-body"><p> {{ edu.desc }}</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="main m5" id="exp" name="exp" v-if="exps.length > 0">
                        <section class="profile info-unit">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <i class="fa fa-briefcase fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">工作经历</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 fn-detail">
                                    <ul class="timeline">
                                        <li v-for="exp in exps">
                                            <div class="time">{{ exp.period }}</div>
                                            <div class="version"></div>
                                            <div class="number"></div>
                                            <div class="content">
                                                <div class="timeline-title">{{ exp.name }} - {{ exp.position }}</div>
                                                <div class="timeline-body">
                                                    <ul class="timeline-body-list">
                                                        <li v-for="desc in exp.descs">{{ desc }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="main m5" id="proj" name="proj" v-if="projs && projs.length > 0">
                        <section class="profile info-unit">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <i class="fa fa-list fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">项目经历</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 fn-detail">
                                    <ul class="timeline">
                                        <li v-for="proj in projs">
                                            <div class="time">{{ proj.period }}</div>
                                            <div class="version"></div>
                                            <div class="number"></div>
                                            <div class="content">
                                                <div class="timeline-title">{{ proj.name }} - {{ proj.position }}</div>
                                                <div class="timeline-body">
                                                    <ul class="timeline-body-list">
                                                        <li v-if="proj.descs.skills">{{ proj.descs.skills }}</li>
                                                        <li>
                                                            <div>
                                                                <i class="fa fa-paper-plane-o fn-icon-list"></i> {{ proj.descs.goal }}<br/>
                                                                <i class="fa fa-users fn-icon-list"></i> {{ proj.descs.team }}<br/>
                                                                <i class="fa fa-bars fn-icon-list"></i> {{ proj.descs.contribution }}<br/>
                                                                <i class="fa fa-thumbs-o-up fn-icon-list"></i> {{ proj.descs.effect }}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="main m5" id="personal" name="personal" v-if="personal_evaluation">
                        <section class="profile info-unit">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <i class="fa fa-pencil fn-icon-head" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <span class="fn-title">个人评价</span>
                                </div>                        
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 fn-detail">
                                    <div>
                                        <ul class="body-list">
                                            <li v-for="item in personal_evaluation">{{ item }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- 侧栏 -->
        <aside>
            <ul>
                <li><a href="#edu">教育经历</a></li>
                <li><a href="#exp">工作经历</a></li>
                <li><a href="#proj">项目经历</a></li>
                <li><a href="#personal">个人评价</a></li>
            </ul>
        </aside>
    </body>
    <script>
        var data = {
            "basic": {
                "name": "张大侠",
                "sex": "男",
                "age": "18岁",
                "position": "前端开发工程师",
                "location": "杭州",
                "lastest_edu": "大学本科",
                "tel": "158-1403-9458",
                "email": "ifelse01@gmail.com",
                "exp": "10年工作经验",
                "salary": "10k / month",
                "blog": "http://www.cnblog.cn/dfg727",
                "github": "http://www.github.com/dfg727"
            },
            "skills": [
                {
                    "name": "HTML, C#, SQL",
                    "progress": 95
                }, {
                    "name": "CSS, NodeJS",
                    "progress": 70
                }, {
                    "name": "Javascript",
                    "progress": 50
                }
            ],
            "edus": [
                {
                    "name": "深圳大学",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "desc": '本科'
                }, {
                    "name": "深圳高中",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "desc": '高中'
                }
            ],
            "exps": [
                {
                    "name": "XX公司",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "position": "前端开发工程师",
                    "descs": [
                        "深度参与公司主线产品",
                        "活动页面的开发"
                    ]
                }, {
                    "name": "XX公司",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "position": "前端开发工程师",
                    "descs": [
                        "深度参与公司主线产品",
                        "活动页面的开发"
                    ]
                }
            ],
            "projs": [
                {
                    "name": "医学科学数据管理与共享平台",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "position": "前端开发",
                    "descs": {
                        "skills": "技术栈：HTML 5+D3.js + ECharts + MySQL",
                        "goal": "[目标] 实现常见肿瘤流行病数据多维度可视化展示、数据透视及分析",
                        "team": "[团队] 与 2 位同学",
                        "contribution": "[贡献] 分析项目需求，清洗并整理相关数据(扩展第三方知识组织系统和 Google trends 数据)，并用 D3.js 和 ECharts 进行图形化展示以及实现简易自动分析 功能",
                        "effect": "[效果] 作品取得第二届共享杯国家级竞赛“特等奖”"
                    }    
                }, {
                    "name": "医学科学数据管理与共享平台",
                    "period": "2013-07-29 ~ 2013-07-09",
                    "position": "前端开发",
                    "descs": {
                        "skills": "技术栈：ThinkPHP + MongoDB + Axure",
                        "goal": "[目标] 实现多类型多来源医学科学数据的提交、管理和共享",
                        "team": "[团队] 与 2 位同学",
                        "contribution": "[贡献] 完成从“调研-设计-实现-文档”等工作，主要负责系统原型、功能框架及数据提交流程、元数据及源数据的管理与共享方案的设计以及系统开发等工作",
                        "effect": "[效果] 作品最终取得第三届共享杯国家级竞赛“一等奖”"
                    }           
                }
            ],
            "personal_evaluation": [
                "“多静多思考，反省不张扬”是我给自己总结的“十字箴言”，鞭策自己做人既不能以己度人，也不以人观己，要脚踏实地做事，坚持自己的梦想和本心",
                "活动页面的开发"
            ]
        }
        var vm = new Vue({
            el: '#app',
            data: data
        })
    </script>
</html>