ul.timeline {
    list-style-type: none;
    padding: 0;
}
ul.timeline::before {
    position: absolute;
    top: 10px;
    left: 108px;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #d7e4ed;
}

ul.timeline li {
    position: relative;
    margin-bottom: 20px;
}
ul.timeline li .time {
    position: absolute;
    width: 90px;
    left: 0;
    top: 10px;
    color: #999;
}
ul.timeline li .version {
    position: absolute;
    width: 290px;
    text-align: right;
    left: -200px;
    top: 30px;
    font-size: 40px;
    line-height: 50px;
    color: #3594cb;
    overflow: hidden;
}
ul.timeline li .number {
    position: absolute;
    background-color: #999;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    top: 10px;
    left: 90px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
ul.timeline li .content {
    margin-left: 124px;
    
}

ul.timeline li .content .timeline-title {
    line-height: 14px;
    padding-top: 8px;
    font-weight: 700;
    font-size: 14px;
}
ul.timeline li .content .timeline-body {
    font-size: 14px;
    padding: 0 4px;
}
ul.timeline li .content .timeline-body p {
    margin-top: 10px;
}
ul.timeline li .content .timeline-body ul.timeline-body-list {
    margin-top: 6px;
    padding-left: 20px;
}
ul.timeline li .content .timeline-body ul.timeline-body-list li {
    margin-bottom: 4px;
}
.fn-icon-list{
    font-size: 14px;
    width: 18px;
    color:#96cde6;
}